# data.world
## Disasters on Social Media

> #### Setup  

> Before running data.world notebooks for the first time, you'll need to:  
1. Install data.world's Python package, including optional `pandas` dependencies: 
```shell
pip install git+git://github.com/datadotworld/data.world-py.git#egg=project[pandas]
```
1. Obtain an API access token at https://data.world/settings/advanced
1. Store API access token using the `dw` command-line tool: 
```shell
dw configure
```

> Once your environment is set up, these steps do not need to be repeated for other data.world notebooks.

In [1]:
import datadotworld as dw

In [2]:
# Datasets are referenced by their path
dataset_key = 'crowdflower/disasters-on-social-media'

# Or simply by their URL
dataset_key = 'https://data.world/crowdflower/disasters-on-social-media'

In [3]:
# Load dataset (onto the local file system)
dataset_local = dw.load_dataset(dataset_key)  # cached under ~/.dw/cache

In [4]:
# See what is in it
dataset_local.describe()

{'description': 'Contributors looked at over 10,000 tweets culled with a variety of searches like "ablaze", "quarantine", and "pandemonium", then noted whether the tweet referred to a disaster event (as opposed to a joke with the word or a movie review or something non-disastrous).   Added: September 4, 2015 by CrowdFlower | Data Rows: 10877 Download Now\n\nSource: https://www.crowdflower.com/data-for-everyone/',
 'homepage': 'https://data.world/crowdflower/disasters-on-social-media',
 'keywords': ['crowdsourced',
  'twitter',
  'tweets',
  'social media',
  'disaster',
  'sarcasm',
  'sentiment'],
 'license': 'Public Domain',
 'name': 'crowdflower_disasters-on-social-media',
 'resources': [{'format': 'csv',
   'name': 'socialmedia_disaster_tweets_dfe',
   'path': 'data/socialmedia_disaster_tweets_dfe.csv'},
  {'bytes': 2208398,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/socialmedia-disaster-tweets-DFE.csv',
   'path': 'original/socialmedia-disaster-tweets-DFE.csv'}],
 'title': 'Disasters on Social Media'}

# Next steps

- Run `help()` to learn more ways to access and use your data. Try:
  - `help(dw.load_dataset)`
  - `help(dw.query)`
- Learn more at: https://github.com/datadotworld/data.world-py and https://docs.data.world

In [6]:
help(dataset_local)

Help on LocalDataset in module datadotworld.models.dataset object:

class LocalDataset(builtins.object)
 |  Dataset saved in the local file system
 |
 |  .. note:: Datasets are packaged for local access in the form of
 |            Datapackage.
 |            See specs at http://specs.frictionlessdata.io/data-package/
 |
 |  :param descriptor_file: Path or handle for the descriptor of the dataset
 |      (datapackage.json)
 |  :type descriptor_file: str or file-like object
 |
 |  Attributes
 |  ----------
 |  raw_data : dict of bytes
 |      Mapping of resource names to their content (raw bytes) for all types
 |      of data contained in the dataset.
 |  tables : dict of tables
 |      Mapping of resource names to their data table for all *tabular* data
 |      contained in the dataset.
 |      A table is a `list` of rows, where each row is a mapping of field
 |      names to their respective values.
 |  dataframes : dict of `pandas.DataFrame`
 |      Mapping of resource names to their `DataFrame` representation for all
 |      *tabular* data contained  in the dataset.
 |
 |  Methods defined here:
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __init__(self, descriptor_file)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  describe(self, resource=None)
 |      Describe dataset or resource within dataset
 |
 |      :param resource: The name of a specific resource (i.e. file or table)
 |          contained in the dataset. If ``resource`` is None, this method
 |          will describe the dataset itself. (Default value = None)
 |      :type resource: str, optional
 |      :returns: The descriptor of the dataset or of a specific resource, if
 |      ``resource`` is specified in the call.
 |      :rtype: dict
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [8]:
df = dataset_local.dataframes['socialmedia_disaster_tweets_dfe']

/Users/johnmurray/anaconda/envs/keras/lib/python3.6/site-packages/datadotworld/models/dataset.py:194: UserWarning: Unable to set data frame dtypes automatically using socialmedia_disaster_tweets_dfe schema. Data types may need to be adjusted manually. Error: Integer column has NA values in column 12
  'Error: {}'.format(resource_name, e))

In [9]:
df.head()

,unit_id,golden,unit_state,trusted_judgments,last_judgment_at,choose_one,choose_one_confidence,choose_one_gold,keyword,location,text,tweetid,userid
0,778243823,True,golden,156,NaN,Relevant,1.0000,Relevant,NaN,NaN,Just happened a terrible car crash,1,NaN
1,778243824,True,golden,152,NaN,Relevant,1.0000,Relevant,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,13,NaN
2,778243825,True,golden,137,NaN,Relevant,1.0000,Relevant,NaN,NaN,"Heard about #earthquake is different cities, s...",14,NaN
3,778243826,True,golden,136,NaN,Relevant,0.9603,Relevant,NaN,NaN,"there is a forest fire at spot pond, geese are...",15,NaN
4,778243827,True,golden,138,NaN,Relevant,1.0000,Relevant,NaN,NaN,Forest fire near La Ronge Sask. Canada,16,NaN